@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Sacramento&display=swap');

/*Was here*/

.attribution {
    font-size: 11px; text-align: center; 
}

.attribution a {
    color: #3e52a3; 
}

body {
    background-color: #d6e2f0;
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    font-weight: 400;
}

.box1{
    background-color: #fff;
    width: 18%;
    border-radius: 10px;
    box-shadow: 2px 3px 10px #7b879d5b;
    position: relative;
    left: 40%;
    bottom: 40%;
    margin: 7.5% 0;
}

.qr-code {
    width: 90%;
    border-radius: 10px;
    margin-top: 0.8rem;
}

.p1 {
    font-weight: 700;
    padding: 0 2rem;
}

.p2 {
    font-size: 12px;
    color: #8b8b8b;
    padding: 0 1.56rem 1.88rem;
}

.firma {
    font-family: 'Sacramento', cursive;
    font-size: 25px;
    text-decoration: none;
    color: #ff7300;
}

/*Phone*/

@media (max-width:375px) {
    .box1 {
        width: 90%;
        margin-top: 3rem;
        margin-bottom: 3rem;
        position: relative;
        left: 5%;
    }

    .p1 {
        font-size: 20px;
        padding: 0 1.85rem;
    }

    .p2 {
        font-size: 14px;
        padding: 0 40px 30px;
    }
}
 
/*Tablet*/

@media (min-width:376px) and (max-width:768px) {
    .box1 {
        width: 60%;
        position: relative;
        left: 20%;
    }
    .p1 {
        font-size: 20px;
        padding: 0 3rem;
    }

    .p2 {
        font-size: 14px;
        padding: 0 40px 30px;
    }
}

/*Desktop*/

@media (min-width:769px) and (max-width:1024) {
    .box1 {
        width: 32%;
        position: relative;
        left: 35%;
    }
}
